*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.hero{
    height: 500px;
    background-color:  #1F2937;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    height: 80px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    margin-left: 150px;
    margin-top: 30px;
    margin-left:30px;
}

.header-links{
    display: flex;
    gap:20px;
    margin-left: 750px;
    margin-top: 30px;
    color:#E5E7EB;
    font-size: 18px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    height: 100%;
    width: 1280px;
    margin: 0 auto;

}

.col{
    width: 50%;
    padding:1rem;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

button{
    font-size: 20px;
    background-color: #3882F6;
    border: 2px solid #E5E7EB;
    padding: 10px 15px 5px 10px;
    border-radius: 5px;
    margin: 10px;
    color: white;
    font-weight: bold;
    padding: 10px;
}


.some-info{
    color: #1F2937;
    font-weight: 800;
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
}

.container-1 {
    height: 140px;
    padding: 30px;
    background: white;
    border: 4px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .item {
    width: 100px;
    height: 100px;
    border: 4px solid #3882F6;
    background: white;
    border-radius: 30px;
    margin-left: 150px;
    margin-right: 50px;
    padding: 60px;
  }


.quote{
    background-color: #E5E7EB;
    height: 400px;
    width: auto;
    padding: 70px;
    margin-top: 70px;

}

.thor{
    text-align: right;
    font-weight: bolder;
    color: black;

}

.ac-q{
    margin: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 25px;
    color:#1F2937
}


.action{
    padding: 50px;
    height: 100px;
    margin: 100px;
    background-color: white;
    display: flex;
}

.ac-call,
.s-u,
.but{
display: flex;
    padding: 0px;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    text-align: center;
    width: 80%;
    margin-left: 150px;
    border: none;
    border-radius: auto;
}

.footer{
    background-color: #1F2937;
    text-align: center;
    height: 100px;
    color:white
}

#flexbox1{
    display:flex;
    font-size: 24px;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap:15px;
    list-style-type: none;
    margin-left: 360px;
}

.text{
    display: flex;
    justify-content: auto;
    align-items: center;
    align-content: center;
}

.footer{
    display: flex;
    align-content: center;
    justify-content: center;
}

.footer-1{
    margin-top: 40px;
}

.action{
    background-color: #3882F6;
    border: 3px solid #3882F6;
    border-radius: 4px;
    width:1150px;
    margin-left:300px;
    padding:30px;
    font-size: 16px;
    color: #E5E7EB;
}

.header{
    font-size: 24px;
    font-weight: bold;
}
